# **Demo 04: Working with Sets in Python**

**Objective:** To understand how sets work, including adding, removing, and performing mathematical set operations

**Prerequisites:** None

**Tools required:** Python

#### **Steps to be followed:**

1. Create a set with at least seven unique elements, including numbers and strings
2. Add a new element to the set and remove an existing one
3. Try adding a duplicate element and observe the result
4. Perform union, intersection, and difference operations with another set
5. Use a set to remove duplicates from a list
6. Convert a set into a list and a tuple

**Step 1:** Create a set with at least seven unique elements, including numbers and strings

In [ ]:
my_set = {10, "Python", 3.14, "AI", 42, "Data", 7.89}
print(my_set)

{'AI', 3.14, 42, 7.89, 'Data', 10, 'Python'}

**Step 2:** Add a new element to the set and remove an existing one

In [ ]:
my_set.add("Machine Learning")  # Adding a new element
print(my_set)
my_set.remove(42)  # Removing an existing element
print(my_set)

{'AI', 3.14, 42, 'Machine Learning', 7.89, 'Data', 10, 'Python'}
{'AI', 3.14, 'Machine Learning', 7.89, 'Data', 10, 'Python'}

**Step 3:** Try adding a duplicate element and observe the result

In [ ]:
my_set.add("Python")  # "Python" already exists, so no change
print(my_set)

{'AI', 3.14, 'Machine Learning', 7.89, 'Data', 10, 'Python'}

**Step 4:** Perform union, intersection, and difference operations with another set

In [ ]:
another_set = {3.14, "AI", "Deep Learning", 99, "Data"}

union_set = my_set.union(another_set)  # Combines elements from both sets
intersection_set = my_set.intersection(another_set)  # Common elements
difference_set = my_set.difference(another_set)  # Elements in my_set but not in another_set

print(union_set)
print(intersection_set)
print(difference_set)

{'AI', 3.14, 'Machine Learning', 99, 7.89, 'Deep Learning', 10, 'Data', 'Python'}
{'AI', 'Data', 3.14}
{'Python', 10, 'Machine Learning', 7.89}

**Step 5:** Use a set to remove duplicates from a list

In [ ]:
duplicate_list = [10, "Python", 3.14, "AI", 10, "Python", "AI", 42]
print(duplicate_list)
unique_list = list(set(duplicate_list))  # Converts the list to a set and back to a list to remove duplicates
print(unique_list)

[10, 'Python', 3.14, 'AI', 10, 'Python', 'AI', 42]
['AI', 3.14, 10, 42, 'Python']

**Step 6:** Convert a set into a list and a tuple

In [ ]:
set_as_list = list(my_set)  # Set converted to a list (unordered)
set_as_tuple = tuple(my_set)  # Set converted to a tuple (unordered but immutable)
print(set_as_list)
print(set_as_tuple)

['AI', 3.14, 'Machine Learning', 7.89, 'Data', 10, 'Python']
('AI', 3.14, 'Machine Learning', 7.89, 'Data', 10, 'Python')

##### By following these steps, you have successfully learned how sets work, including adding, removing, and performing mathematical set operations.