# __Date and TimeDelta in Pandas__

## __Agenda__

In this lesson, we will cover the following concepts with the help of examples:

- Date and TimeDelta in Pandas
- Date Handling in Pandas
  * Extracting Components from Dates
- Timedelta in Pandas
  * Creating a Timedelta
  * Performing Arithmetic Operations
  * Resampling Time Series Data
- Categorical Data Handling
  * Creating a Categorical Variable
  * Counting Occurrences of Each Category
  * Creating Dummy Variables
  * Label Encoding

##  __1. Date and TimeDelta in Pandas__

In Pandas, the datetime module provides robust functionality for handling date and time data, while the timedelta class allows for convenient manipulation of time intervals. This combination is particularly useful for time-based analysis and working with temporal data in a DataFrame.

![link text](https://labcontent.simplicdn.net/data-content/content-assets/Data_and_AI/ADSP_Images/Lesson_04_Working_with_Pandas/3_Date_and_TimeDelta_in_Pandas/Date_and_Time.png)

## __2. Date Handling in Pandas__
#### Creating a Date Range:

- The date_range function is used to generate a sequence of dates within a specified range.
- It is a powerful tool for creating time indices or date columns in a DataFrame.
- The start and end parameters define the range, while freq determines the frequency, such as daily (D) or monthly (M).

In [10]:
import pandas as pd

# Generate a date range
date_range = pd.date_range(start='2023-01-01', end='2023-01-10', freq='D')
print(date_range)

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10'],
              dtype='datetime64[ns]', freq='D')

In [13]:
# Generate a date range
date_range = pd.date_range(start='2023-01-01 00:00:00', end='2023-01-10 00:00:00', freq='D')
print(date_range)

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10'],
              dtype='datetime64[ns]', freq='D')

In [14]:
date_range

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10'],
              dtype='datetime64[ns]', freq='D')

### __2.1 Extracting Components from Dates__

Pandas provides the dt accessor to extract various components (Example: day, month, year) from a date column in a DataFrame. This is valuable for time-based analysis when specific date attributes need to be considered.

In [21]:
import pandas as pd

# Assuming 'df' is your DataFrame with a 'Date' column
data = {'Date': ['2023-01-01 00:12:00', '2023-02-15 00:00:00', '2023-03-20 00:00:01']}
df = pd.DataFrame(data)
df['Date'] = pd.to_datetime(df['Date'])

# Extracting day, month, and year information
df['Day'] = df['Date'].dt.day
df['Month'] = df['Date'].dt.month
df['Year'] = df['Date'].dt.year
df['Hour'] = df['Date'].dt.hour

# Displaying the DataFrame with extracted information
print(df[['Date', 'Day', 'Month', 'Year', 'Hour']])

                 Date  Day  Month  Year  Hour
0 2023-01-01 00:12:00    1      1  2023     0
1 2023-02-15 00:00:00   15      2  2023     0
2 2023-03-20 00:00:01   20      3  2023     0

In [18]:
data = {'Date': ['2023-01-01', '2023-02-15', '2023-03-20']}
df = pd.DataFrame(data)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    3 non-null      object
dtypes: object(1)
memory usage: 156.0+ bytes

In [22]:
# Extracting weekday and weekend information
df = pd.DataFrame({'Date': pd.date_range(start='2026-01-01', periods=5)})
df['Weekday'] = df['Date'].dt.weekday
df['IsWeekend'] = df['Date'].dt.weekday // 5 == 1
print(df[['Date', 'Weekday', 'IsWeekend']])

        Date  Weekday  IsWeekend
0 2026-01-01        3      False
1 2026-01-02        4      False
2 2026-01-03        5       True
3 2026-01-04        6       True
4 2026-01-05        0      False

In [23]:
# Shifting dates forward or backward
df['Date'] = pd.to_datetime(df['Date'])
df['PreviousDate'] = df['Date'] - pd.Timedelta(days=1)
df['NextDate'] = df['Date'] + pd.Timedelta(days=1)
print(df[['Date', 'PreviousDate', 'NextDate']])

        Date PreviousDate   NextDate
0 2026-01-01   2025-12-31 2026-01-02
1 2026-01-02   2026-01-01 2026-01-03
2 2026-01-03   2026-01-02 2026-01-04
3 2026-01-04   2026-01-03 2026-01-05
4 2026-01-05   2026-01-04 2026-01-06

## __3. Timedelta in Pandas__
### __3.1 Creating a Timedelta__

- The Timedelta class in Pandas represents a duration or the difference between two dates or times.
- It can be created by specifying the desired duration, such as days, hours, or minutes.

In [30]:
import pandas as pd

data = {
    'Date': pd.date_range(start='2023-01-01', periods=72, freq='H'),
    'Value1': range(72),
    'Value2': range(10, 72+10)
}
df = pd.DataFrame(data)

# Creating a timedelta of 3 days
delta = pd.Timedelta(days=3)

C:\Users\Abhishek Murthy\AppData\Local\Temp\ipykernel_32424\4153612598.py:4: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  'Date': pd.date_range(start='2023-01-01', periods=72, freq='H'),

In [31]:
df

                  Date  Value1  Value2
0  2023-01-01 00:00:00       0      10
1  2023-01-01 01:00:00       1      11
2  2023-01-01 02:00:00       2      12
3  2023-01-01 03:00:00       3      13
4  2023-01-01 04:00:00       4      14
..                 ...     ...     ...
67 2023-01-03 19:00:00      67      77
68 2023-01-03 20:00:00      68      78
69 2023-01-03 21:00:00      69      79
70 2023-01-03 22:00:00      70      80
71 2023-01-03 23:00:00      71      81

[72 rows x 3 columns]

### __3.2 Performing Arithmetic Operations__

Timedelta objects can be used to perform arithmetic operations on dates. For example, adding a timedelta to a date results in a new date. This is useful for calculating future or past dates based on a given time interval.

In [6]:
# Performing arithmetic operations with timedeltas
df['Date'] = pd.to_datetime(df['Date'])
df['FutureDate'] = df['Date'] + pd.Timedelta(weeks=2, days=3, hours=12)
print(df[['Date', 'FutureDate']])

                 Date          FutureDate
0 2023-01-01 00:00:00 2023-01-18 12:00:00
1 2023-01-01 01:00:00 2023-01-18 13:00:00
2 2023-01-01 02:00:00 2023-01-18 14:00:00
3 2023-01-01 03:00:00 2023-01-18 15:00:00
4 2023-01-01 04:00:00 2023-01-18 16:00:00
5 2023-01-01 05:00:00 2023-01-18 17:00:00
6 2023-01-01 06:00:00 2023-01-18 18:00:00
7 2023-01-01 07:00:00 2023-01-18 19:00:00
8 2023-01-01 08:00:00 2023-01-18 20:00:00
9 2023-01-01 09:00:00 2023-01-18 21:00:00

### __3.3 Resampling Time Series Data__

Time series data often comes with irregular time intervals. Resampling is the process of changing the frequency of the time series data, either by upsampling (increasing frequency) or downsampling (decreasing frequency).

In [7]:
# Resampling time series data
df.set_index('Date', inplace=True)
df_resampled = df.select_dtypes(include='number').resample('D').sum()
print(df_resampled)

            Value1  Value2
Date
2023-01-01      45     145

In [32]:
df.set_index('Date').resample('D').sum()

            Value1  Value2
Date
2023-01-01     276     516
2023-01-02     852    1092
2023-01-03    1428    1668

In [40]:
df.set_index('Date').resample('1T').sum()

C:\Users\Abhishek Murthy\AppData\Local\Temp\ipykernel_32424\770011534.py:1: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df.set_index('Date').resample('1T').sum()

                     Value1  Value2
Date
2023-01-01 00:00:00       0      10
2023-01-01 00:01:00       0       0
2023-01-01 00:02:00       0       0
2023-01-01 00:03:00       0       0
2023-01-01 00:04:00       0       0
...                     ...     ...
2023-01-03 22:56:00       0       0
2023-01-03 22:57:00       0       0
2023-01-03 22:58:00       0       0
2023-01-03 22:59:00       0       0
2023-01-03 23:00:00      71      81

[4261 rows x 2 columns]

## __4. Categorical Data Handling__

### __4.1 Creating a Categorical Variable__
Pandas provides the categorical class to create a categorical variable. Categorical variables are useful when dealing with data that can be divided into distinct, non-numeric categories.

In [65]:
import pandas as pd

# Creating a categorical variable
categories = ['Low', 'Medium', 'High']
values = ['Low', 'Medium', 'High', 'Low', 'High']
cat_variable = pd.Categorical(values, categories=categories, ordered=True)
cat_variable

['Low', 'Medium', 'High', 'Low', 'High']
Categories (3, object): ['Low' < 'Medium' < 'High']

In [66]:
# Creating a categorical variable
categories = ['Apple', 'Banana', 'Mango']
values = ['Apple', 'Apple', 'Mango', 'Mango', 'Banana']
cat_variable = pd.Categorical(values, categories=categories, ordered=False)
print(cat_variable)

['Apple', 'Apple', 'Mango', 'Mango', 'Banana']
Categories (3, object): ['Apple', 'Banana', 'Mango']

In [68]:
cat_variable.codes

array([0, 0, 2, 2, 1], dtype=int8)

### __4.2 Counting Occurrences of Each Category__
The value_counts() method is used to count the occurrences of each category in a categorical column of a DataFrame.

In [71]:
# Assuming 'df' is your DataFrame with a 'Category' column
df = pd.DataFrame({'Category': ['A', 'B', 'A', 'C', 'B', 'A', 'B', 'B']})

# Counting occurrences of each category
category_counts = df['Category'].value_counts()
print(category_counts)

Category
B    4
A    3
C    1
Name: count, dtype: int64

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  6 non-null      object
dtypes: object(1)
memory usage: 180.0+ bytes

### __4.3 Creating Dummy Variables__

When working with machine learning models or statistical analyses, creating dummy variables is often necessary to represent categorical data numerically. The get_dummies function creates binary columns for each category, effectively converting categorical data into a numerical format.

In [49]:
# Assuming 'df' is your DataFrame with a 'Category' column
df = pd.DataFrame({'blah': ['A', 'B', 'A', 'C', 'B', 'A']})

# Creating dummy variables for categorical data
dummy_variables = pd.get_dummies(df['blah'])
print(dummy_variables)

       A      B      C
0   True  False  False
1  False   True  False
2   True  False  False
3  False  False   True
4  False   True  False
5   True  False  False

### __4.4 Label Encoding__

Another way to handle categorical data is through label encoding, where each category is assigned a unique numerical label. This is useful in scenarios where ordinal relationships exist between categories.

#### Default Behavior of cat.codes (Unordered): 
By default, when a Series is converted to a category dtype using astype('category'), the categories are inferred from the data and ordered by appearance or alphabetically, depending on the pandas version and data composition. This default order is usually alphabetical.
Missing values (NaN) are assigned a code of -1.

In [73]:
import numpy as np
# Assuming 'df' is your DataFrame with a 'Category' column
df = pd.DataFrame({'Category': ['A', 'C', 'A', 'B', 'B', 'A', np.nan]})

# Label Encoding
df['Category_LabelEncoded'] = df['Category'].astype('category').cat.codes # Assigns codes alphabetically.
print(df[['Category', 'Category_LabelEncoded']])

  Category  Category_LabelEncoded
0        A                      0
1        C                      2
2        A                      0
3        B                      1
4        B                      1
5        A                      0
6      NaN                     -1

In [74]:
df = pd.DataFrame({'Category': [1, 1, 2, 1, 3, 2]})

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  6 non-null      int64
dtypes: int64(1)
memory usage: 180.0 bytes

In [77]:
df['Category'] = df['Category'].astype('category')

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  6 non-null      category
dtypes: category(1)
memory usage: 270.0 bytes

In [75]:
df['Category'].astype('category').cat.codes

0    0
1    0
2    1
3    0
4    2
5    1
dtype: int8

# __Assisted Practice__

## __Problem Statement:__
Analyze the housing dataset with a focus on handling date and categorical data to gain insights into house sales over time and the influence of house characteristics on its price.

## __Steps to Perform:__
- Convert the __YearBuilt__ and __YearRemodAdd__ columns to datetime format (if not converted)
- Extract useful components from the date like the year, month, or day
- Calculate the time difference between the year the house was built and the year it was remodeled
- Perform necessary arithmetic operations
- Count the number of occurrences of each category in categorical features
- Create dummy variables for categorical variables

In [80]:
import pandas as pd

# Load the dataset
df = pd.read_csv('housing_data.csv')

# 1. Convert YearBuilt and YearRemodAdd to datetime format
# Since these columns contain years, we specify the format as '%Y'
df['YearBuilt_dt'] = pd.to_datetime(df['YearBuilt'], format='%Y')
df['YearRemodAdd_dt'] = pd.to_datetime(df['YearRemodAdd'], format='%Y')

In [86]:
df[['YearBuilt', 'YearBuilt_dt', 'YearRemodAdd', 'YearRemodAdd_dt']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearBuilt        1460 non-null   int64
 1   YearBuilt_dt     1460 non-null   datetime64[ns]
 2   YearRemodAdd     1460 non-null   int64
 3   YearRemodAdd_dt  1460 non-null   datetime64[ns]
dtypes: datetime64[ns](2), int64(2)
memory usage: 45.8 KB

In [58]:
# 2. Extract useful components from the date
# We can extract Year, Month, or Day (Month/Day will default to 01/01)
df['Built_Year'] = df['YearBuilt_dt'].dt.year
df['Built_Month'] = df['YearBuilt_dt'].dt.month
df['Remod_Year'] = df['YearRemodAdd_dt'].dt.year

In [96]:
# 3. Calculate the time difference between built and remodeled year
# 4. Perform necessary arithmetic operations
# This gives the number of years between original construction and remodeling
df['Years_To_Remodel'] = df['YearRemodAdd_dt'] - df['YearBuilt_dt']
df['Years_To_Remodel'] = df['Years_To_Remodel'].dt.days/365.0

In [97]:
df[['YearBuilt', 'YearBuilt_dt', 'YearRemodAdd', 'YearRemodAdd_dt', 'Years_To_Remodel']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   YearBuilt         1460 non-null   int64
 1   YearBuilt_dt      1460 non-null   datetime64[ns]
 2   YearRemodAdd      1460 non-null   int64
 3   YearRemodAdd_dt   1460 non-null   datetime64[ns]
 4   Years_To_Remodel  1460 non-null   float64
dtypes: datetime64[ns](2), float64(1), int64(2)
memory usage: 57.2 KB

In [98]:
df[['YearBuilt', 'YearBuilt_dt', 'YearRemodAdd', 'YearRemodAdd_dt', 'Years_To_Remodel']].head()

   YearBuilt YearBuilt_dt  YearRemodAdd YearRemodAdd_dt  Years_To_Remodel
0       2003   2003-01-01          2003      2003-01-01          0.000000
1       1976   1976-01-01          1976      1976-01-01          0.000000
2       2001   2001-01-01          2002      2002-01-01          1.000000
3       1915   1915-01-01          1970      1970-01-01         55.038356
4       2000   2000-01-01          2000      2000-01-01          0.000000

In [62]:
# 5. Count the number of occurrences of each category in categorical features
# Identify categorical columns (object type)
categorical_features = df.select_dtypes(include=['object']).columns

print("--- Categorical Feature Counts ---")
for col in categorical_features:
    print(f"\nCounts for {col}:")
    print(df[col].value_counts())

# 6. Create dummy variables for categorical variables
# This converts categorical text data into binary (0 or 1) columns
df_final = pd.get_dummies(df, columns=categorical_features)

--- Categorical Feature Counts ---

Counts for MSSubClass:
MSSubClass
SC20     536
SC60     299
SC50     144
SC120     87
SC30      69
SC160     63
SC70      60
SC80      58
SC90      52
SC190     30
SC85      20
SC75      16
SC45      12
SC180     10
SC40       4
Name: count, dtype: int64

Counts for MSZoning:
MSZoning
RL         1151
RM          218
FV           65
RH           16
C (all)      10
Name: count, dtype: int64

Counts for Street:
Street
Pave    1454
Grvl       6
Name: count, dtype: int64

Counts for Alley:
Alley
Grvl    50
Pave    41
Name: count, dtype: int64

Counts for LotShape:
LotShape
Reg    925
IR1    484
IR2     41
IR3     10
Name: count, dtype: int64

Counts for LandContour:
LandContour
Lvl    1311
Bnk      63
HLS      50
Low      36
Name: count, dtype: int64

Counts for Utilities:
Utilities
AllPub    1459
NoSeWa       1
Name: count, dtype: int64

Counts for LotConfig:
LotConfig
Inside     1052
Corner      263
CulDSac      94
FR2          47
FR3           4
Name: count, dtype: int64

Counts for LandSlope:
LandSlope
Gtl    1382
Mod      65
Sev      13
Name: count, dtype: int64

Counts for Neighborhood:
Neighborhood
NAmes      225
CollgCr    150
OldTown    113
Edwards    100
Somerst     86
Gilbert     79
NridgHt     77
Sawyer      74
NWAmes      73
SawyerW     59
BrkSide     58
Crawfor     51
Mitchel     49
NoRidge     41
Timber      38
IDOTRR      37
ClearCr     28
StoneBr     25
SWISU       25
MeadowV     17
Blmngtn     17
BrDale      16
Veenker     11
NPkVill      9
Blueste      2
Name: count, dtype: int64

Counts for Condition1:
Condition1
Norm      1260
Feedr       81
Artery      48
RRAn        26
PosN        19
RRAe        11
PosA         8
RRNn         5
RRNe         2
Name: count, dtype: int64

Counts for Condition2:
Condition2
Norm      1445
Feedr        6
Artery       2
RRNn         2
PosN         2
PosA         1
RRAn         1
RRAe         1
Name: count, dtype: int64

Counts for BldgType:
BldgType
1Fam      1220
TwnhsE     114
Duplex      52
Twnhs       43
2fmCon      31
Name: count, dtype: int64

Counts for HouseStyle:
HouseStyle
1Story    726
2Story    445
1.5Fin    154
SLvl       65
SFoyer     37
1.5Unf     14
2.5Unf     11
2.5Fin      8
Name: count, dtype: int64

Counts for RoofStyle:
RoofStyle
Gable      1141
Hip         286
Flat         13
Gambrel      11
Mansard       7
Shed          2
Name: count, dtype: int64

Counts for RoofMatl:
RoofMatl
CompShg    1434
Tar&Grv      11
WdShngl       6
WdShake       5
Metal         1
Membran       1
Roll          1
ClyTile       1
Name: count, dtype: int64

Counts for Exterior1st:
Exterior1st
VinylSd    515
HdBoard    222
MetalSd    220
Wd Sdng    206
Plywood    108
CemntBd     61
BrkFace     50
WdShing     26
Stucco      25
AsbShng     20
BrkComm      2
Stone        2
AsphShn      1
ImStucc      1
CBlock       1
Name: count, dtype: int64

Counts for Exterior2nd:
Exterior2nd
VinylSd    504
MetalSd    214
HdBoard    207
Wd Sdng    197
Plywood    142
CmentBd     60
Wd Shng     38
Stucco      26
BrkFace     25
AsbShng     20
ImStucc     10
Brk Cmn      7
Stone        5
AsphShn      3
Other        1
CBlock       1
Name: count, dtype: int64

Counts for MasVnrType:
MasVnrType
BrkFace    445
Stone      128
BrkCmn      15
Name: count, dtype: int64

Counts for ExterQual:
ExterQual
TA    906
Gd    488
Ex     52
Fa     14
Name: count, dtype: int64

Counts for ExterCond:
ExterCond
TA    1282
Gd     146
Fa      28
Ex       3
Po       1
Name: count, dtype: int64

Counts for Foundation:
Foundation
PConc     647
CBlock    634
BrkTil    146
Slab       24
Stone       6
Wood        3
Name: count, dtype: int64

Counts for BsmtQual:
BsmtQual
TA    649
Gd    618
Ex    121
No     37
Fa     35
Name: count, dtype: int64

Counts for BsmtCond:
BsmtCond
TA    1311
Gd      65
Fa      45
No      37
Po       2
Name: count, dtype: int64

Counts for BsmtExposure:
BsmtExposure
No    991
Av    221
Gd    134
Mn    114
Name: count, dtype: int64

Counts for BsmtFinType1:
BsmtFinType1
Unf    430
GLQ    418
ALQ    220
BLQ    148
Rec    133
LwQ     74
No      37
Name: count, dtype: int64

Counts for BsmtFinType2:
BsmtFinType2
Unf    1256
Rec      54
LwQ      46
No       38
BLQ      33
ALQ      19
GLQ      14
Name: count, dtype: int64

Counts for Heating:
Heating
GasA     1428
GasW       18
Grav        7
Wall        4
OthW        2
Floor       1
Name: count, dtype: int64

Counts for HeatingQC:
HeatingQC
Ex    741
TA    428
Gd    241
Fa     49
Po      1
Name: count, dtype: int64

Counts for CentralAir:
CentralAir
Y    1365
N      95
Name: count, dtype: int64

Counts for Electrical:
Electrical
SBrkr    1334
FuseA      94
FuseF      27
FuseP       3
Mix         1
Name: count, dtype: int64

Counts for KitchenQual:
KitchenQual
TA    735
Gd    586
Ex    100
Fa     39
Name: count, dtype: int64

Counts for Functional:
Functional
Typ     1360
Min2      34
Min1      31
Mod       15
Maj1      14
Maj2       5
Sev        1
Name: count, dtype: int64

Counts for FireplaceQu:
FireplaceQu
No    690
Gd    380
TA    313
Fa     33
Ex     24
Po     20
Name: count, dtype: int64

Counts for GarageType:
GarageType
Attchd     870
Detchd     387
BuiltIn     88
No          81
Basment     19
CarPort      9
2Types       6
Name: count, dtype: int64

Counts for GarageFinish:
GarageFinish
Unf    605
RFn    422
Fin    352
No      81
Name: count, dtype: int64

Counts for GarageQual:
GarageQual
TA    1311
No      81
Fa      48
Gd      14
Ex       3
Po       3
Name: count, dtype: int64

Counts for GarageCond:
GarageCond
TA    1326
No      81
Fa      35
Gd       9
Po       7
Ex       2
Name: count, dtype: int64

Counts for PavedDrive:
PavedDrive
Y    1340
N      90
P      30
Name: count, dtype: int64

Counts for PoolQC:
PoolQC
No    1453
Gd       3
Ex       2
Fa       2
Name: count, dtype: int64

Counts for Fence:
Fence
No       1179
MnPrv     157
GdPrv      59
GdWo       54
MnWw       11
Name: count, dtype: int64

Counts for MiscFeature:
MiscFeature
No      1406
Shed      49
Gar2       2
Othr       2
TenC       1
Name: count, dtype: int64

Counts for MoSold:
MoSold
Jun    253
Jul    234
May    204
Apr    141
Aug    122
Mar    106
Oct     89
Nov     79
Sep     63
Dec     59
Jan     58
Feb     52
Name: count, dtype: int64

Counts for SaleType:
SaleType
WD       1267
New       122
COD        43
ConLD       9
ConLI       5
ConLw       5
CWD         4
Oth         3
Con         2
Name: count, dtype: int64

Counts for SaleCondition:
SaleCondition
Normal     1198
Partial     125
Abnorml     101
Family       20
Alloca       12
AdjLand       4
Name: count, dtype: int64

In [63]:
df_final.head()

,Unnamed: 0,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,0,65.0,8450,7,5,2003,2003,196.0,706,0,...,False,False,False,True,False,False,False,False,True,False
1,1,80.0,9600,6,8,1976,1976,0.0,978,0,...,False,False,False,True,False,False,False,False,True,False
2,2,68.0,11250,7,5,2001,2002,162.0,486,0,...,False,False,False,True,False,False,False,False,True,False
3,3,60.0,9550,7,5,1915,1970,0.0,216,0,...,False,False,False,True,True,False,False,False,False,False
4,4,84.0,14260,8,5,2000,2000,350.0,655,0,...,False,False,False,True,False,False,False,False,True,False

In [101]:
pd.Series(df_final.columns).to_csv('col_list.csv')